<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <title>HAPPY HUNDIES - ABOUT</title>
</head>
<body>
    <header class="header-navbar">
        <a href="/" class="logo-link">
            <img src="{{ url_for('static', filename='HappyHundies.png') }}" alt="Happy Hundies Logo" style="height: 80px;">
        </a>
        <nav class="navbar">
            <div class="navbar-links">
                <a href="/">Home</a>
                <a class="active" href="/about">About</a>
                <a href="/film_list">Film List</a>
            </div>
        </nav>
    </header>
    {% include 'header.html' %}
    <div class="intro-container">
    <p>Happy Hundies is a website celebrating the films that manage to do a lot with a little amount of time. That's not to say we don't love longer films as well, but it felt high time for a dedicated website for those films perfect for a mid-week watch</p>
    <p>It is also an ongoing project that I built for university and am trying to add to bit by bit until it inevitably becomes everyone's new default homepage when they open their browsers</p>
    </div>


</main> 
</body>
</html>
