<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <title>HAPPY HUNDIES - HOME</title>
</head>
<body>
    <header class="header-navbar">
        <a href="/" class="logo-link">
            <img src="{{ url_for('static', filename='HappyHundies.png') }}" alt="Happy Hundies Logo" style="height: 80px;">
        </a>
        <nav class="navbar">
            <div class="navbar-links">
                <a class="active" href="/">Home</a>
                <a href="/about">About</a>
                <a href="/film_list">Film List</a>
            </div>
        </nav>
    </header>
    {% include 'header.html' %}
    <div class="intro-container">
    <p>A database of films that are under 100 minutes and are loved by us. It's that simple!</p>
    <p>Click on the film list above to get started...</p>
    <p>Or if you're feeling plucky, click below for a random Happy Hundy</p>
    </div>
    <div class="plucky-container">
        <p>You've gotta ask yourself a question: "Do I feel lucky?" Well, do ya, punk?</p> 
        <p>Click here for a random film:</p>
        <button type="button" id="pluckyButton">I'm feeling plucky</button>
        <div id="filmDetails">
            <h1 id="filmTitle"></h1>
            <p id="filmRuntime"></p>
            <p id="filmGenre"></p>
            <p id="filmLanguage"></p>
            <p id="filmIMDBScore"></p>
            <p id="filmComment"></p>
        </div>
    </div>


</main> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#pluckyButton').click(function() {
                $.getJSON('{{ url_for("random_film") }}', function(data) {
                    if (data) {
                        $('#filmTitle').text(data.title + " (" + data.year + ")");
                        $('#filmRuntime').text("Runtime: " + data.runtime + " minutes");
                        $('#filmGenre').text("Genre: " + data.genre);
                        $('#filmLanguage').text("Language: " + data.language);
                        $('#filmIMDBScore').text("IMDB Score: " + data.imdb_score);
                        $('#filmComment').text("Comment: " + data.comment);
                    } else {
                        $('#filmTitle').text("No films found.");
                        $('#filmDetails').hide();
                    }
                });
            });
        });
    </script>
</body>
</html>
