<!DOCTYPE html>
<html lang="en">
<head>
<script defer data-domain="happyhundies.com" src="https://plausible.io/js/script.outbound-links.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='HappyHundies.png') }}">
    <title>Happy Hundies - Random Films</title>
</head>

<body>
    <header class="header-navbar">
        <a href="/" class="logo-link">
            <img src="{{ url_for('static', filename='HappyHundies.png') }}" alt="Happy Hundies Logo" class="header-logo">
        </a>
        <nav class="navbar">
            <div class="navbar-links">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a class="active" href="/randomfilms">Random Films</a>
                <a href="/film_list">Film List</a>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        <div class="d-flex flex-column flex-lg-row justify-content-between align-items-start">
            <div class="plucky-container text-center mt-4">
                <p>You've gotta ask yourself a question: "Do I feel plucky?" Well, do ya, punk?</p>
                <p>Click on the 'I'm feeling plucky' button for a completely random Happy Hundy</p>
                <button type="button" id="pluckyButton" class="btn btn-primary">I'm feeling plucky</button>
                <p>Or if you know what genre you want to watch but don't want to bother thinking about anything else, click on the buttons below</p>
                <button type="button" id="comedyButton" class="btn btn-primary">Comedy</button>
                <button type="button" id="dramaButton" class="btn btn-primary">Drama</button>
                <button type="button" id="actionButton" class="btn btn-primary">Action</button>
                <button type="button" id="animationButton" class="btn btn-primary">Animation</button>
                <button type="button" id="horrorButton" class="btn btn-primary">Horror</button>
                <button type="button" id="thrillerButton" class="btn btn-primary">Thriller</button>
                <button type="button" id="romanceButton" class="btn btn-primary">Romance</button>
                <button type="button" id="familyButton" class="btn btn-primary">Family</button>
            </div>
            <div class="random-film-card mt-4" id="filmDetails" style="display: none;">
                    <h2 id="filmTitle" class="film-title card-title"></h2>
                    <p class="card-text"><span class="film-detail"><strong>Runtime: </strong></span><span id="filmRuntime"></span></p>
                    <p class="card-text"><span class="film-detail"><strong>Genre: </strong></span><span id="filmGenre"></span></p>
                    <p class="card-text"><span class="film-detail"><strong>Language: </strong></span><span id="filmLanguage"></span></p>
                    <p class="card-text"><span class="film-detail"><strong>IMDB Score: </strong></span><span id="filmIMDBScore"></span></p>
                    <p class="card-text"><span class="film-detail"><strong>Comment: </strong></span><span id="filmComment"></span></p>
                    <p class="card-text"><span class="film-detail"><strong>Link: </strong></span><a id="filmIMDBLink" href="" target="_blank">IMDB</a></p>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/filmrandomiser.js"></script>
</body>
</html>
